@import 'tailwindcss';

@theme {
  --color-mainBlue: #005baa;
  --color-mainGreen: #00a651;
  --color-midGray: #979797;
  --color-lightGray: #e2e2e2;
  --color-whiteGray: #f9f9f9;
  --color-mainRed: #ec523e;
  --color-subGreen: #d1f3e1;

  --font-base: Inter, system-ui, sans-serif;

  --text-sm: 18px;
  --text-mid: 24px;
  --text-title: 28px;
  --text-smbold: 18px;
  --text-exsm: 15px;

  --spacing-sidebar: 280px;
  --spacing-container: 1448px;
  --spacing-header: 104px;
  --spacing-footer: 120px;

  --w-sidebar: 280px;
  --w-container: 1448px;

  --max-w-container: 1448px;
  --max-w-sidebar: 280px;
  --min-w-sidebar: 280px;

  --h-header: 104px;
  --h-sidebar: 1120px;
  --h-footer: 140px;
  --h-page: 3351px;

  --min-h-sidebar: 1120px;
  --min-h-footer: 100px;
  --min-h-header: 104px;

  --animate-fade-slide-in-out: fade-slide-in-out 2s ease-in-out forwards;

  @keyframes fade-slide-in-out {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
    90% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(100%);
    }
  }
}

@layer base {
  html {
    font-family: var(--font-base);
  }
}
